<div class="row content main">
	<div class="col-md-12">
		<%= form_for [:admin, @home] do |f| %>
			<div class="form-group">
				<%= f.label :title %>
				<%= f.text_field :title, class: 'form-control', placeholder: 'Title', autofocus: true %>
			</div>
			<div class="form-group">
				<%= f.label :content %>
				<%= f.text_area :content, class: 'form-control', placeholder: 'Content', id: 'editor', rows: '12' %>
			</div>
			<div class="form-group">
				<h4>Choose Background Image</h4>
				<label class="btn btn-default">
				 	Browse&hellip;<%= f.file_field :image, style: 'display: none' %>
				</label>
			</div>
			<div class="form-group">
				<%= f.label :first_button %>
				<%= f.text_field :first_button, class: 'form-control', placeholder: 'First Button' %>
			</div>
			<div class="form-group">
				<%= f.label :second_button %>
				<%= f.text_field :second_button, class: 'form-control', placeholder: 'Second Button' %>
			</div>
			<div class="form-group">
				<%= f.submit class: 'btn btn-default pull-right' %>
			</div>
		<% end %>
	</div>
</div>

<script>
  $(function() {
    $('textarea#editor').froalaEditor()
  });
</script>
