<div class="owl-carousel">
	<% @page.sliders.each do |slide| %>
		<div class="slide-image-section" style="background: url(<%= slide.image %>">
			<div class="slide-text-section">
				<div class="slide-main-text">
					<%= slide.text %>
				</div>
			</div>
		</div>
	<% end %>
</div>

<!-- Main Content -->
<div class="container page-main-content">
	<div class="row">
		<div class="col-md-12">
			<h3><%= @page.title %></h3>
			<div>
				<%= raw(@page.content) %>
			</div>
		</div>
	</div>
</div>

<!-- Repeater Content -->
<div class="container">
	<% i = 0; %>
	<% @page.repeaters.each do |repeater| %>
		<% i+= 1; %>
		<div class="row content-repeater">
			<% if (i % 2 == 0) %>
				<div class="col-md-6 repeater-section-image" style="background: url(<%= repeater.image %>);">
				<div class="repeater-overlay"></div>
				</div>
				<div class="col-md-6 repeater-section-text">
					<%= repeater.content %>
				</div>
			<% else %>
				<div class="col-md-6 repeater-section-text">
					<%= repeater.content %>
				</div>
				<div class="col-md-6 repeater-section-image" style="background: url(<%= repeater.image %>);">
				<div class="repeater-overlay"></div>
				</div>
			<% end %>
		</div>
	<% end %>
</div>

<!-- owl-carousel to slide images -->
<script>
	$(document).ready(function() {
		$('.owl-carousel').owlCarousel({
		    loop:true,
		    margin:10,
		    nav:true,
		    navText: ["<i class='fa fa-angle-left'></i>", "<i class='fa fa-angle-right'></i>"],
		    items: 1,
		    autoplay: true,
		    autoplayTimeout: 10000,
		});
	});
</script>