<ul class="homepage-nav">
	<li><%= link_to root_path do %>
			<% if Setting.logo.present? %>
	          <%= image_tag(Setting.logo.url) %>
	        <% else %>
	          <%= Setting.site_name %>
        	<% end %>
		<% end %>
	</li>
	<li><%= link_to "Our Blog", posts_path %></li>
</ul>

<ul class="homepage-nav pull-right home-right">
	<li><%= link_to admin_dashboard_index_path do %>
		<i class="fa fa-user-circle"></i> Sign In
		<% end %>
	</li>
</ul>