<% if current_user.image.present? %>
	<div class="user_profile" style="background-image: url(<%= current_user.image %>)">	
	</div>
<% else %>
	<p><%= current_user.email %></p>
<% end %>

<ul>
	<li>
		<%= link_to admin_dashboard_index_path do %>
			<i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard
		<% end %>
	</li>
	<li>
	 	<%= link_to admin_pages_path do %>
	 		<i class="fa fa-file-text" aria-hidden="true"></i> Pages
	 	<% end %>
	 </li>
	<li>
		<%= link_to admin_posts_path do %>
			<i class="fa fa-file" aria-hidden="true"></i> Posts
		<% end %>
	</li>
	<li>
		<%= link_to admin_categories_path do %>
			<i class="fa fa-book" aria-hidden="true"></i> Categories
		<% end %>
	</li>
	<li>
		<%= link_to admin_tags_path do %>
			<i class="fa fa-tags" aria-hidden="true"></i> Tags
		<% end %>
	</li>
	<li>
		<%= link_to admin_users_path do %>
			<i class="fa fa-user-circle-o" aria-hidden="true"></i> Users</li>
		<% end %>
	<li><i class="fa fa-envelope-open" aria-hidden="true"></i> Messages</li>
	<li>
		<%= link_to admin_comments_path do %>
			<i class="fa fa-commenting" aria-hidden="true"></i> Comments
		<% end %>
	</li>
	<li>
		<%= link_to new_admin_setting_path do %>
			<i class="fa fa-cogs" aria-hidden="true"></i> Settings
		<% end %>
	</li>
	<li>
		<%= link_to new_admin_home_path do %>
			<i class="fa fa-home" aria-hidden="true"></i> Home Page
		<% end %>
	</li>
</ul>