<!DOCTYPE html>
<html>
  <head>
    <title>
    <% if Setting.site_name.present? %>
      <%= Setting.site_name %>
    <% else %>RubyonRailsCMS
    <% end %>
    </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
     <div class="notice-message">
        <p><%= notice %></p>
     </div>
    <% end %>
    <% if flash[:alert] %>
     <div class="alert-message">
        <p><%= alert %></p>    
      </div>
    <% end %>

  	<%= render 'layouts/partials/frontend_nav' %>
    <%= yield %>
    <%= render 'layouts/partials/footer' %>
  </body>
</html>

<script type="text/javascript">
  jQuery(document).ready(function() {
    setTimeout(function() {
      jQuery('.notice-message, .alert-message').remove();
    }, 6000);
  });
</script>
